@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";



@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --btn-gradient-start: #14ADD6;
  --btn-gradient-end: #384295;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Nunito', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn-primary-gradient {
    /* المقاسات المطلوبة */
    width: 250px;
    height: 46px;
    
    /* التنسيقات الأساسية */
    background: linear-gradient(to right, var(--btn-gradient-start, #2563eb), var(--btn-gradient-end, #4f46e5));
    @apply text-white py-2 px-8 rounded-xl transition-all border-none shadow-none;
    
    font-family: 'Nunito', sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }



  /* تأثير عند الضغط */
  .btn-primary-gradient:active {
    @apply scale-95;
  }
}